<div class="d-flex justify-content-center container">
  <div class="col-md-8">
    <div class="card-hover-shadow-2x mb-3 card">
      <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
          <i class="fa fa-tasks"></i>&nbsp;Task Lists
        </div>
      </div>
      <div class="scroll-area-sm">
        {{!-- Add Modal --}}
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addModalTitle">Create a Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="addTitle">Title</label>
                  <input type="text" class="form-control" id="addTitle" placeholder="E.g. Buy Twitter">
                  <small class="form-text text-muted">Required</small>
                </div>
                <div class="form-group">
                  <label for="addDescription">Description</label>
                  <textarea class="form-control" id="addDescription" rows="3"
                    placeholder="E.g. Place an offer an leave"></textarea>
                </div>
                <div class="form-group">
                  <label for="addEstimated">Estimated time</label>
                  <input type="time" class="form-control" id="addEstimated">
                  <small class="form-text text-muted">Hours:Minutes</small>
                </div>
                <div class="form-group">
                  <label for="addStart">Task start time</label>
                  <input type="date" class="form-control" id="addStart">
                </div>
                <div class="form-group">
                  <label for="addEnd">Task end time limit</label>
                  <input type="date" class="form-control" id="addEnd">
                </div>
                <div class="form-group">
                  <label for="addImage">Image URL</label>
                  <input type="text" class="form-control" id="addImage" placeholder="E.g. https://image.com/image.jpg">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="addButton" type="button" class="btn btn-primary" onclick="addTask()">Create task</button>
              </div>
            </div>
          </div>
        </div>
        <perfect-scrollbar class="ps-show-limits">
          <div style="position: static;" class="ps ps--active-y">
            <div class="ps-content">
              <ul class=" list-group list-group-flush">
                {{#each tasks}}
                <li class="list-group-item">
                  <div class="todo-indicator bg-primary"></div>
                  <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                      <div class="widget-content-left mr-2">
                        <div class="custom-checkbox custom-control">
                          <input class="custom-control-input" id="checkbox{{@index}}"
                            onclick="changeCompleted('{{this._id}}',this)" completed="{{this.completed}}"
                            type="checkbox">
                          <label class="custom-control-label" for="checkbox{{@index}}">&nbsp;</label>
                        </div>
                      </div>
                      {{!-- Main Modal --}}
                      <div class="modal fade" id="Modal{{@index}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <img class="card-img-top" src="{{this.imageURL}}" alt="">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{this.title}}</h5>
                            </div>
                            <div class="modal-body">
                              <p class="card-text">{{this.text}}</p>
                              <ul class="list-group list-group-flush">
                                {{#if this.timeEstimate}}<li class="list-group-item">Time estimate:
                                  {{this.timeEstimateText}}
                                </li>{{/if}}
                                {{#if this.starTime}}<li class="list-group-item">Start time: {{this.starTime}}</li>
                                {{/if}}
                                {{#if this.endTime}}<li class="list-group-item">End time: {{this.endTime}}</li>{{/if}}
                                <li class="list-group-item">Created at: {{this.createdAt}}</li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary"
                                onclick="editModal('{{this.all}}','Modal{{@index}}')">Edit
                                task</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="widget-content-left flex2">
                        <div class="widget-heading">{{this.title}}</div>
                        <div class="widget-subheading">{{this.text}}</div>
                      </div>
                      <div class="widget-content-right">
                        <button id="priorityUp{{@index}}" onclick="changePriority('{{this._id}}','up')"
                          class="border-0 btn-transition btn btn-outline-secondary">
                          <i class="fa-solid fa-arrow-up"></i>
                        </button>
                        <button id="priorityDown{{@index}}" onclick="changePriority('{{this._id}}','down')"
                          class="border-0 btn-transition btn btn-outline-secondary">
                          <i class="fa-solid fa-arrow-down"></i>
                        </button>
                        <button class="border-0 btn-transition btn btn-outline-primary" data-toggle="modal"
                          data-target="#Modal{{@index}}">
                          <i class="fa-solid fa-ellipsis" style="color: black;"></i>
                        </button>
                        <button id="delete{{@index}}" onclick="deleteTask('{{this._id}}')"
                          class="border-0 btn-transition btn btn-outline-danger">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
      <div div class="d-block text-right card-footer">
        <button onclick="logout()" class="mr-2 btn btn-link btn-sm">Log out</button>
        {{!-- <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Task</button> --}}
        <button class="btn btn-primary" onclick="addModal()">Add Task</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll("[completed]").forEach(e => {
    e.checked = e.getAttribute("completed") == "true"
  })

  function parseCookie(str) {
    return str
      .split(';')
      .map(v => v.split('='))
      .reduce((acc, v) => {
        acc[decodeURIComponent(v[0].trim())] = decodeURIComponent(v[1].trim());
        return acc;
      }, {});
  }

  function logout() {
    document.cookie = "Authorization=; Path=/;"
    window.location.href = "/"
  }

  function addModal() {
    $("#addModal").modal('show');
    document.querySelector("#addModalTitle").innerHTML = "Create a Task"
    document.querySelector("#addButton").innerHTML = "Create Task"
    document.querySelector("#addButton").setAttribute("onclick", "addTask()");
    document.querySelector("#addTitle").value = ""
    document.querySelector("#addDescription").value = ""
    document.querySelector("#addEstimated").value = ""
    document.querySelector("#addStart").value = ""
    document.querySelector("#addEnd").value = ""
    document.querySelector("#addImage").value = ""
  }

  function addTask() {
    if (document.querySelector("#addTitle").value == "") return toastr.error("Title field is required")
    let timeEstimateArray = document.querySelector("#addEstimated").value.split(":");
    let starTimeArray = document.querySelector("#addStart").value.split(":");
    let endTimeArray = document.querySelector("#addEnd").value.split(":");
    let body = {
      title: document.querySelector("#addTitle").value,
      text: document.querySelector("#addDescription").value,
      timeEstimate: parseInt(timeEstimateArray[0]) * 60 * 60 * 1000 + parseInt(timeEstimateArray[1]) * 60 * 1000,
      starTime: parseInt(starTimeArray[0]) * 60 * 60 * 1000 + parseInt(starTimeArray[1]) * 60 * 1000,
      endTime: parseInt(endTimeArray[0]) * 60 * 60 * 1000 + parseInt(endTimeArray[1]) * 60 * 1000,
      imageURL: document.querySelector("#addImage").value
    }
    Object.keys(body).forEach(key => {
      if (body[key] == "") delete body[key]
    });
    let requestOptions = {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
        "Authorization": parseCookie(document.cookie).Authorization
      },
      body: JSON.stringify(body)
    };
    let status = 0;
    fetch("{{API_URL}}" + "/api/tasks", requestOptions)
      .then(response => {
        status = response.status
        return response.text()
      })
      .then(result => {
        switch (status) {
          case 201:
            location.reload()
            break;
          default:
            toastr.error(JSON.parse(result).message)
            break;
        }
      })
      .catch(error => toastr.error(error));
  }

  function editModal(task, idModal) {
    task = JSON.parse(task);
    $(`#${idModal}`).modal('hide');
    $("#addModal").modal('show');
    document.querySelector("#addModalTitle").innerHTML = "Edit Task"
    document.querySelector("#addButton").innerHTML = "Edit Task"
    document.querySelector("#addButton").setAttribute("onclick", `editTask('${task._id}')`);
    document.querySelector("#addTitle").value = task.title;
    document.querySelector("#addDescription").value = task.text;
    if (task.timeEstimate != 0) {
      document.querySelector("#addEstimated").value =
        `${("000"+String(Math.floor(task.timeEstimate/(1000*60*60)))).slice(-2)}:${("000"+String(Math.floor((task.timeEstimate%(1000*60*60))/(1000*60)))).slice(-2)}`;
    } else document.querySelector("#addEstimated").value = ""
    if (task.starTime != 0) {
      let date = new Date(task.starTime)
      document.querySelector("#addStart").value = date.toISOString().split('T')[0];
    } else document.querySelector("#addStart").value = ""
    if (task.endTime != 0) {
      let date = new Date(task.endTime)
      document.querySelector("#addEnd").value = date.toISOString().split('T')[0];
    } else document.querySelector("#addEnd").value = ""
    document.querySelector("#addImage").value = task.imageURL;
  }

  function editTask(idTask) {
    if (document.querySelector("#addTitle").value == "") return toastr.error("Title field is required")
    let timeEstimateArray = document.querySelector("#addEstimated").value.split(":");
    let body = {
      title: document.querySelector("#addTitle").value,
      text: document.querySelector("#addDescription").value,
      timeEstimate: timeEstimateArray.length > 1 ? parseInt(timeEstimateArray[0]) * 60 * 60 * 1000 + parseInt(
        timeEstimateArray[1]) * 60 * 1000 : 0,
      imageURL: document.querySelector("#addImage").value
    }
    if(document.querySelector("#addStart").value != "") {
      let time = new Date(document.querySelector("#addStart").value)
      body.starTime = time.getTime()
    }
    if(document.querySelector("#addEnd").value != "") {
      let time = new Date(document.querySelector("#addEnd").value)
      body.endTime = time.getTime()
    }
    let requestOptions = {
      method: 'PUT',
      headers: {
        "Content-Type": "application/json",
        "Authorization": parseCookie(document.cookie).Authorization
      },
      body: JSON.stringify(body)
    };
    let status = 0;
    fetch("{{API_URL}}" + "/api/tasks?idTask=" + idTask, requestOptions)
      .then(response => {
        status = response.status
        return response.text()
      })
      .then(result => {
        switch (status) {
          case 200:
            location.reload()
            break;
          default:
            toastr.error(JSON.parse(result).message)
            break;
        }
      })
      .catch(error => toastr.error(error));
  }

  function deleteTask(idTask) {
    let requestOptions = {
      method: 'DELETE',
      headers: {
        "Authorization": parseCookie(document.cookie).Authorization
      }
    };
    let status = 0;
    fetch("{{API_URL}}" + "/api/tasks?idTask=" + idTask, requestOptions)
      .then(response => {
        status = response.status
        return response.text()
      })
      .then(result => {
        switch (status) {
          case 200:
            location.reload()
            break;
          default:
            toastr.error(JSON.parse(result).message)
            break;
        }
      })
      .catch(error => toastr.error(error));
  }

  function changeCompleted(idTask, checkbox) {
    let checked = checkbox.checked;
    let requestOptions = {
      method: 'PUT',
      headers: {
        "Content-Type": "application/json",
        "Authorization": parseCookie(document.cookie).Authorization
      },
      body: JSON.stringify({
        completed: checked
      })
    };
    let status = 0;
    fetch("{{API_URL}}" + "/api/tasks?idTask=" + idTask, requestOptions)
      .then(response => {
        status = response.status
        return response.text()
      })
      .then(result => {
        if (status != 200) toastr.error(JSON.parse(result).message)
      })
      .catch(error => toastr.error(error));
  }

  function changePriority(idTask, type) {
    let requestOptions = {
      method: 'POST',
      headers: {
        "Authorization": parseCookie(document.cookie).Authorization,
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        idTask,
        type
      })
    };
    let status = 0;
    fetch("{{API_URL}}" + "/api/tasks/priority", requestOptions)
      .then(response => {
        status = response.status
        return response.text()
      })
      .then(result => {
        switch (status) {
          case 200:
            location.reload()
            break;
          case 500:
            toastr.error("Action not permited")
            break;
          default:
            toastr.error(JSON.parse(result).message)
            break;
        }
      })
      .catch(error => toastr.error(error));
  }
</script>